.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        color: var(--color-primary);
        font-size: 25px;
        font-weight: 400;
    }
}
