:root {
    /* STATIC COLORS */
    --color-white: #fff;
    --color-black: #000;

    --color-bg-light: #fff;
    --color-primary: #2e3456;
    --color-secondary: #e4f0ff;
    --color-accent: #ea6633;
    --color-tertiary: #47689e;

    /* FORMS */
    --color-disabled-input: #ccc;
    --color-disabled-input-txt: #818181;
    --color-form-bg: #f4f3f2;
    --color-error: #ff0000;
}
