.u-container {
    width: 100%;
    padding: 5px 15px;
    display: flex;
    align-items: center;

    &__blue {
        background-color: var(--color-secondary);
    }

    &__between {
        justify-content: space-between;
    }
}

.u-form-container {
    background-color: var(--color-form-bg);
    border-radius: 3px;
    padding: 15px;
}
